@import "./reset.css";

html,
body {
    height: 100%;
}

.wrapper {
    position: relative;
    height: 100%;
}

.header {
    height: 50px;
    background: #2d2d2d;
    position: relative;
    z-index: 1;
}

.aside {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 272px;
    height: calc(100vh - 50px);
    background: #efefef;
}